<h3>Child Component 3</h3>
<p>
    Approach 3:
    Here is an another approach for two way binding between components, where we can Invoke an Action properties manually based on any events/method execution,
</p>

<button onclick="@trigger" class="btn btn-info">Trigger to Parent</button>



@code {
    [Parameter]
    public Action EvenfromChild { get; set; }

    private void trigger(){
        EvenfromChild?.Invoke();
    }
}
