@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: <span class="@BackgroundColor">@currentCount</span></p>

<p>
    <input type="number" @bind="@increment" />
</p>


<button class="btn btn-primary"
        disabled="@(currentCount > 10)"
@onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private int increment = 1;
    private void IncrementCount(MouseEventArgs e)
    {
        if (e.CtrlKey)
        {
            currentCount -= increment;
        }
        else
        {
            currentCount += increment;
        }
       // currentCount++;
    }


    private string BackgroundColor => (currentCount % 2 == 0) ? "red-background" : "yellow-background";
}
