@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<Alert Show="@ShowAlert">
<span class="oi oi-check mr-2" aria-hidden="true"></span>
<strong>Blazor is so cool!</strong>
</Alert>

<button @onclick="ToggleAlert" class="btn btn-success">Toggle</button>

@*Welcome to your new app.*@

@*<SurveyPrompt Title="How is Blazor working for you?" />*@

@*<p>
    <input @bind="@Today" @bind:format="yyyy-MM-dd" />
</p>*@




@code{
    //private DateTime Today { get; set; } = DateTime.Now;

    public bool ShowAlert { get; set; } = true;
    public void ToggleAlert() => ShowAlert = !ShowAlert;
}
